<app-navbar></app-navbar>
<div class="container pb-5" style="background-color: #ffecef!important;">
    <div class="row">
        <div class="col-3">
            <div class="tpm w-75">
                <h1 class="fs-5 fw-semibold">Encuentra los mejores docentes en <span
                        class="fs-4 fw-bold ">Programacion</span></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio veniam sint deserunt sequi
                    aliquam qui voluptas dolorem quae blanditiis?</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>