<app-navbar></app-navbar>
<div class="container pt-3">
  <nav aria-label="breadcrumb">
    <div class="breadcrumb d-flex">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <fa-icon [icon]="faAngleRight" class="mx-4"></fa-icon>
      <li class="breadcrumb-item active" aria-current="page">
        <a routerLink="/perfil-profe">Profesor</a>
      </li>
      <fa-icon [icon]="faAngleRight" class="mx-4"></fa-icon>
      <li class="breadcrumb-item active" aria-current="page">{{ profesor }}</li>
    </div>
  </nav>

  <div class="row ">

    <div class="col-sm-12 col-lg-4  ">
      <div class=" card mt-4 p-3">
        <img src="../../../assets/images/homePage/image 130.png" class="card-img-top" [width]="320" [height]="255"
          alt="...">
        <div class="card-body">
          <h4 class="card-title fw-semibold">{{ profesor }}</h4>
          <p class="card-text mb-1 fw-normal"><fa-icon [icon]="faLocationDot" class="pe-2"> </fa-icon> San Isidro/Buenos
            Aires</p>
          <p class="card-text mb-1 fw-normal"><fa-icon [icon]="faUser" class="pe-2"> </fa-icon> 32 alumnos actuales</p>
          <ul class="star-rating  d-flex ps-0">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
              <fa-icon [icon]="star <= rating ? faStarSolid : faStar" class="faStarSolid"></fa-icon>
            </ng-container>
            <div class="d-flex">
              <p class="px-2 ps-2 fw-bold">{{rating}},0</p>
              <p>(15 Opiniones)</p>
            </div>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-sm-12  col-lg-8  mt-4 mb-4 ">
      <div class="ms-1">
        <h4 class="mb-3">¿Qué esperas de la clase? <span>(opcional)</span></h4>
        <textarea class="border card px-2 py-2 d-flex form-control" name="" id="" cols="80" rows="5"
          placeholder="Contanos que estás estudiando y que te gustaría aprender"></textarea>
      </div>
      <h4 class="mb-3 mt-5">Elige tu fecha y horario ideal</h4>
      
      <div class="border calendar mb-4 row p-5 ms-1">

        
        <div class=" text-center  col-12 col-xl-6  ">
          <h6 class="d-flex justify-content-center mb-4" >  <fa-icon [icon]="faAngleLeft" class="mx-4"></fa-icon> Mayo   <fa-icon [icon]="faAngleRight" class="mx-4"></fa-icon></h6>
          <ol >
            <ul class="day-name">L</ul>
            <ul class="day-name">M</ul>
            <ul class="day-name">X</ul>
            <ul class="day-name">J</ul>
            <ul class="day-name">V</ul>
            <ul class="day-name">S</ul>
            <ul class="day-name">D</ul>

            
            <li class="d-flex first-day">
              <p class="m-auto">1</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">2</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">3</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">4</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">5</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">6</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">7</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">8</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">9</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">10</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">11</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">12</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">13</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">14</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">15</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">16</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">17</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">18</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">19</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">20</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">21</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">22</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">23</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">24</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">25</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">26</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">27</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">28</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">29</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">30</p>
            </li>
            <li class="d-flex">
              <p class="m-auto">31</p>
            </li>
            
          </ol>
        </div>
        
        <div class=" d-flex justify-content-center align-items-center col-12  col-xl-6 ">
          <ul class="list-group ">
            <li class="list-group-item d-flex">
              <input class="form-check-input  me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
              <label class="form-check-label" for="firstRadio">08h a 09h</label>
            </li>
            <li class="list-group-item d-flex">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
              <label class="form-check-label" for="secondRadio">10h a 11h</label>
            </li>
            <li class="list-group-item d-flex">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">12h a 13h</label>
            </li>
            <li class="list-group-item d-flex">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="fourRadio" checked>
              <label class="form-check-label" for="fourRadio">14h a 15h</label>
            </li>
            <li class="list-group-item d-flex">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
              <label class="form-check-label" for="secondRadio">16h a 17h</label>
            </li>
            <li class="list-group-item d-flex">
              <input class="form-check-input  me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label " for="thirdRadio">18h a 19h</label>
            </li>
          </ul>

          <ul class="list-group me-4">
            <li class="list-group-item d-flex">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
              <label class="form-check-label" for="firstRadio">09 a 10h</label>
            </li>
            <li class="list-group-item d-flex">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
              <label class="form-check-label" for="secondRadio">11h a 12h</label>
            </li>
            <li class="list-group-item d-flex">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">13h a 14h</label>
            </li>
            <li class="list-group-item d-flex">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
              <label class="form-check-label" for="firstRadio">15h 16h</label>
            </li>
            <li class="list-group-item d-flex">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
              <label class="form-check-label" for="secondRadio">17h a 18h</label>
            </li>
            <li class="list-group-item d-flex">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">19h a 20h</label>
            </li>
            
          </ul>
         
        </div>

        <div></div>
        <div class="d-flex justify-content-end">
          <p class="me-4 mt-4" style="opacity: 50%;">Horario de Argentina (GMT-3)</p>
        </div>
        
      
      </div>

      <div class="mb-5 ms-1">
        <h4 class="mb-3">¿Qué esperas de la clase? <span>(opcional)</span></h4>
        <div class="card">
          <div class="card-header d-flex justify-content-evenly">
            <p>Matematicas</p>
            <p>Vier, 26 de Mayo</p>
            <p> 10hs a 11hs</p>
          </div>
          <div class="card-body d-flex justify-content-evenly ">
            <li class="list-group-item d-flex">
              <input class="form-check-input me-1" type="checkbox" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">Quiero recibir un mail de confirmacion</label>
            </li>
            <button class="btn btn-dark border-circle px-4 ">Confirmar</button>
          </div>
         
        </div>
      </div>


    </div>

  </div>
    


  </div>

<app-footer class=""></app-footer>
