<app-navbar></app-navbar>
<div class="container pt-3">
  <nav aria-label="breadcrumb">
    <div class="breadcrumb d-flex">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <fa-icon [icon]="faAngleRight" class="mx-4"></fa-icon>
      <li class="breadcrumb-item active" aria-current="page">
        <a routerLink="/perfil-profe">Profesor</a>
      </li>
      <fa-icon [icon]="faAngleRight" class="mx-4"></fa-icon>
      <li class="breadcrumb-item active" aria-current="page">{{ profesor }}</li>
    </div>
  </nav>

  <div class="row">
    <div class="col-sm-12 col-lg-4 col-md-6 ">
      <div class=" card mt-4 p-3">
        <img src="../../../assets/images/homePage/image 130.png" class="card-img-top" [width]="320" [height]="255"
          alt="...">
        <div class="card-body">
          <h4 class="card-title fw-semibold">{{ profesor }}</h4>
          <p class="card-text mb-1 fw-normal"><fa-icon [icon]="faLocationDot" class="pe-2"> </fa-icon> San Isidro/Buenos
            Aires</p>
          <p class="card-text mb-1 fw-normal"><fa-icon [icon]="faUser" class="pe-2"> </fa-icon> 32 alumnos actuales</p>
          <ul class="star-rating  d-flex ps-0">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
              <fa-icon [icon]="star <= rating ? faStarSolid : faStar" class="faStarSolid"></fa-icon>
            </ng-container>
            <div class="d-flex">
              <p class="px-2 ps-2 fw-bold">{{rating}},0</p>
              <p>(15 Opiniones)</p>
            </div>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-sm-12 col-md-6 col-lg-8  mt-4 ">
      <div>
        <h4 class="mb-3">¿Qué esperas de la clase? <span>(opcional)</span></h4>
        <textarea class="border card px-2 py-2 d-flex form-control" name="" id="" cols="80" rows="5"
          placeholder="Contanos que estás estudiando y que te gustaría aprender"></textarea>
      </div>
      <h4 class="mb-3 mt-5">Elige tu fecha y horario ideal</h4>
      
      <div class="d-flex">
        <div class="w-50 h-50 text-center ">
          <ol >
            <ul class="day-name">L</ul>
            <ul class="day-name">M</ul>
            <ul class="day-name">X</ul>
            <ul class="day-name">J</ul>
            <ul class="day-name">V</ul>
            <ul class="day-name">S</ul>
            <ul class="day-name">D</ul>

            
            <li class="first-day">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li>31</li>
          </ol>

          
        </div>
        
        <div class="w-50 h-50 text-center ">
          Hola
        </div>
      </div>
      

      </div>
    


  </div>
</div>

<app-footer></app-footer>