.srccontainer, .inputsrc {
    border-radius: 1000px;
    border: 1px solid #AEAEAE;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25)
}

.filtros {
    color: #363636;
}

.input-border {
    border-color: #fffdfd00;
}

.borderleft {
    border-left: 1px solid #9F9F9F;
}

.btn.dropdown-toggle {
    color: #9F9F9F;
}

.dropdown-item {
    border-radius: 60px;
    margin: 0 10px;
    padding-right: 30px;
    width: 97%;
}

.dropdown-menu.show {
    margin-top: .4rem !important;
    border-radius: 24px;
    padding-right: 10px;
    width: 305px;
    align-items: center;
}

.ordenar.show{
    width: 5%;
}

.scrollable-menu {

    overflow-y: auto;
    /* Habilita el desplazamiento vertical */

}

.cards-section {
    margin: 0%!important;
}


@media only screen and (max-width: 1399px) {
    .dropdown-menu {
        width: 255px !important;
    }
}

@media only screen and (max-width: 1199px) {
    .dropdown-menu {
        width: 215px !important;
    }
}
.dropdown-menu{
    overflow: scroll;
    height: 230px!important;
}

.title-color{
    color: #019FA2;
}


input:hover,:focus{
    border: 0!important;
   
}