<app-navbar></app-navbar>
<div class="container pb-5" style="background-color: #ffecef!important;">
    <div class="row">
        <div class="col-5">
            <div class="tpm w-75">
                <h1 class="fs-4 fw-semibold">Encuentra los mejores docentes en <span
                        class="fs-3 fw-bold ">Programacion</span></h1>
                
        </div>
        <div class="col">
            <p>Quiero aprender</p>
            <div class="border srccontainer tpm w-200 d-flex justify-content-between">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <fa-icon [icon]="faGraduationCap"></fa-icon> {{ elegir }}
              </button>
              <div class="dropdown-menu dropdown-menu-end mt-2 pe-5">
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende Python'">Python</button>
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende Java'">Java</button>
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende JavaScript'">JavaScript</button>
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende Ruby'">Ruby</button>
              </div>
            </div>
        </div>
        <div class="col">
            <p>Rango de precio</p>
            <div class="border srccontainer tpm w-200 d-flex justify-content-between">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <fa-icon [icon]="faGraduationCap"></fa-icon> {{ elegir }}
              </button>
              <div class="dropdown-menu dropdown-menu-end mt-2 pe-5">
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende Python'">Python</button>
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende Java'">Java</button>
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende JavaScript'">JavaScript</button>
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende Ruby'">Ruby</button>
              </div>
            </div>
        </div>
        <div class="col">
            <p>Provincia</p>
            <div class="border srccontainer tpm w-200 d-flex justify-content-between">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <fa-icon [icon]="faGraduationCap"></fa-icon> {{ elegir }}
              </button>
              <div class="dropdown-menu dropdown-menu-end mt-2 pe-5">
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende Python'">Python</button>
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende Java'">Java</button>
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende JavaScript'">JavaScript</button>
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende Ruby'">Ruby</button>
              </div>
            </div>
        </div>
        <div class="col">
            <p>Disponibilidad</p>
            <div class="border srccontainer tpm w-200 d-flex justify-content-between">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <fa-icon [icon]="faGraduationCap"></fa-icon> {{ elegir }}
              </button>
              <div class="dropdown-menu dropdown-menu-end mt-2 pe-5">
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende Python'">Python</button>
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende Java'">Java</button>
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende JavaScript'">JavaScript</button>
                  <button class="dropdown-item btn" (click)="elegir = 'Aprende Ruby'">Ruby</button>
              </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="pt-2 pb-3 d-flex justify-content-between w-100 ">
        <h1 class="fs-4">40 docentes <span class="fs-6"> De matematicas</span></h1>
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Ordenar por</button>
        <div class="dropdown-menu dropdown-menu-end mt-2 pe-5">
            <button class="dropdown-item btn" >Edad</button>
            <button class="dropdown-item btn" >Nombre</button>
            <button class="dropdown-item btn" >Apellido</button>
            <button class="dropdown-item btn" >Pais</button>
        </div>
    </div>
    <div class="mb-5 mt-5">
    <app-cards></app-cards>
    </div>
</div>

<app-footer></app-footer>