.faStarSolid{
    color: #FA9744;
}

.card, .calendar{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    border: none;
}

.card-img-top{
    border-radius: 16px;
}



.day-name{
    padding: 1px;
}

.btn-contact{
    border-color: #019FA2;
    border-radius: 1000px;
    border-width: 1px!important;
    background-color: #019FA2;
    color: white;
  }
 
ol{
    list-style: none;
    display: grid;
    grid-template-columns:  repeat(7, 1fr);
    padding: 0px;
    gap: 4px;
}

li{
    text-align: center;
 
}



.first-day{
    grid-column-start: 5;
}

ol > li {
    border:1px solid #aaa7a5;
    background-color: #FAFAFA;
    border-radius: 50%;
    margin: 3px;
    aspect-ratio: 1/1;
    width: 40px;
    text-align: center;
    
}

ol > li:hover{
    background-color: #019FA2;
    color: #FFFF;
    cursor: pointer;
}

ol > li.selected {
    background-color: #019FA2;
    color: #FFFF;
  }


.list-group-item{
    text-align: center;
    border: 0;
}

.angleIcon:hover{
    color: #019FA2;
    cursor: pointer;
}

