<app-navbar></app-navbar>

<!-- <div class="container px-0">
  <div class="srccontainer tpm w-50 d-flex justify-content-start">
  <div class="row row-col-6 row-cols-sm-4">
    <div class="col-2">
      <button class="btn">Home</button></div>
    <div class="col py-1 pt-1"><fa-icon [icon]="faAngleRight"></fa-icon></div>
    <div class="col-2">
      <button class="btn"> Profesores</button></div>
      <div class="col py-2"><fa-icon [icon]="faAngleRight"></fa-icon></div>
    <div class="col-2 py-2">
      <span>Esteban Gonzales</span>
    </div>
    </div>
    </div>
  </div>

 -->
 <div class="container pt-3">
  <div class="row row-cols-auto">
    <div class="col">Home</div>
      <div class="col"><fa-icon [icon]="faAngleRight"></fa-icon></div>
        <div class="col">Profesores</div>
          <div class="col"><fa-icon [icon]="faAngleRight"></fa-icon></div>
        <div class="col-sm-4">Esteban Gonzales</div>
      </div>
    <div class="row">
     <div class="col-lg-4 col-sm-6">
        <div class=" card mt-4 p-3">
          <img src="../../../assets/images/Rectangle 6.png" class="card-img-top" [width]="320" [height]="255" alt="...">
          <div class="card-body">
            <h4 class="card-title fw-bold">ESTEBAN GONZALES</h4>
            <br>
            <br>
              <p class="card-text gap-4 pb-2 ml-4 fw-normal"> <fa-icon [icon]="faLocationDot"> </fa-icon> San Isidro/Lima/Peru</p>
              <p class="card-text gap-4 pb-2  fw-normal"> <fa-icon [icon]="faUser"> </fa-icon> 32 alumnos actuales</p>
              <p class="card-text gap-4 fw-normal"> <fa-icon [icon]="faStar"> </fa-icon> 5(28)</p>
              <button type="button" class="btn btn-dark btn-lg btn-block center">CONTACTAR PROFE</button>
          </div>
        </div>
      </div>
    <div class="col-7">MATEMATICA
  </div>
</div>



