<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" >Navbar w/ text</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <span class="navbar-text">
        Navbar text with an inline element
      </span>
    </div>
  </nav>
<!-- <body>
  <div class="card" >
    <div class="card-body bg-opacity-25 bg-black" >
      <div class="row">

        <div class="col text-center justify-content-center">
        <div class="card-header">
      <img src="../../../assets/Ellipse 3.png">
      </div>
          <h5 class="card-title">Real y honesto</h5>
          <p class="card-text justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, odit!</p>
        </div>
        <div class="col text-center">
          <h5 class="card-title">Calidad educativa</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, expedita.</p>
        </div>
        <div class="col text-center">
          <h5 class="card-title">A tu medida</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, odio!</p>
        </div>
      </div>
    </div>
  </div>
</body>
 -->