<app-navbar></app-navbar>
<div class="container">
    <div class="container" style="background-color: #DAF5F5; border-radius: 24px;">
        <div class="row pt-5 pb-5">
            <div class="col-md-6 col-lg-7 d-flex m-auto">
                <div class="m-auto">
                    <div class="">
                        <h1 class="fs-2 fw-bold">Gana dinero conectando con más alumnos <span class="fs-1 fw-bold">
                            </span></h1>
                        <p class="fs-4 fw-semibold">Ofrece tus servicios enseñando a estudiantes de toda Argentina</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6  d-flex">

                <div>
                    <div class="d-flex m-auto">
                        <img src="../../../assets/images/sucription/suscription-banner.png" alt=""
                            class=" w-full img-fluid m-auto">
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="w-100">
        <div class="container pt-5 pb-5">
            <div class="row d-flex justify-content-center ">
                <div class="col-12 col-md-4 py-5">
                    <div>
                        <div class="d-flex m-auto" style="height: 140px;display: flex; flex-direction: column; align-items: center; padding: 24px; gap: 16px; width: 350px; height: 289.14px; border: 1px solid #019FA2; border-radius: 16px;">
                            <img src="../../../assets/images/homePage/realHonesto.png" alt=""
                                class=" w-full img-fluid m-auto">
                                <h1 class="fs-4 fw-semibold text-center">Gestiona tus tiempos</h1>
                                <p class="text-center fs-6">Elige días y horarios que se adapten a tu rutina, con mayor autonomía en la organización de tu tiempo. Informa anticipadamente a los alumnos tu disponibilidad horaria en tu anuncio.
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 py-5">
                    <div>
                        <div class="d-flex m-auto" style="height: 140px;display: flex; flex-direction: column; align-items: center; padding: 24px; gap: 16px; width: 350px; height: 289.14px; border: 1px solid #019FA2; border-radius: 16px;">
                            <img src="../../../assets/images/homePage/calidadEducativa.png" alt=""
                                class=" w-full img-fluid">
                                <h1 class="fs-4 fw-semibold text-center">Mejorar tu reputación</h1>
                                <p class="text-center fs-6">Con tus servicios en línea, construyes una sólida reputación a través de reseñas y comentarios de los alumnos, lo que genera confianza y atrae a más estudiantes.
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 py-5">
                    <div>
                        <div class="d-flex m-auto" style="height: 140px;display: flex; flex-direction: column; align-items: center; padding: 24px; gap: 16px; width: 350px; height: 289.14px; border: 1px solid #019FA2; border-radius: 16px;">
                            <img src="../../../assets/images/homePage/aTuMedida.png" alt=""
                                class=" w-full img-fluid m-auto">
                                <h1 class="fs-4 fw-semibold text-center">Crece profesionalmente</h1>
                                <p class="text-center fs-6">Trabajar con diferentes alumnos enriquece la experiencia docente al adaptarse a las necesidades individuales, lo que desarrolla nuevas habilidades pedagógicas.</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>