<app-navbar></app-navbar>
<div class="container">
    <div class="container" style="background-color: #DAF5F5; border-radius: 24px;">
        <div class="row pt-5 pb-5">
            <div class="col-md-6 col-lg-7 d-flex m-auto">
                <div class="m-auto">
                    <div class="">
                        <h1 class="fs-2 fw-bold">Gana dinero conectando con más alumnos <span class="fs-1 fw-bold">
                            </span></h1>
                        <p class="fs-4 fw-semibold">Ofrece tus servicios enseñando a estudiantes de toda Argentina</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6  d-flex">

                <div>
                    <div class="d-flex m-auto">
                        <img src="../../../assets/images/sucription/suscription-banner.png" alt=""
                            class=" w-full img-fluid m-auto">
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="w-100">
        <div class="container pt-5 pb-5">
            <div class="row d-flex justify-content-center ">
                <div class="col-12 col-md-4 py-5">
                    <div>
                        <div class="d-flex m-auto"
                            style="height: 140px;display: flex; flex-direction: column; align-items: center; padding: 24px; gap: 16px; width: 350px; height: 289.14px; border: 1px solid #019FA2; border-radius: 16px;">
                            <svg width="50" height="51" viewBox="0 0 50 51" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M22.6562 12.627C22.6562 11.3574 23.6328 10.2832 25 10.2832C26.2695 10.2832 27.3438 11.3574 27.3438 12.627V24.7363L35.6445 30.2051C36.7187 30.9863 37.0117 32.4512 36.2305 33.5254C35.5469 34.5996 34.082 34.8926 33.0078 34.1113L23.6328 27.8613C23.0469 27.4707 22.6562 26.6895 22.6562 25.9082V12.627ZM25 0.908203C38.7695 0.908203 50 12.1387 50 25.9082C50 39.7754 38.7695 50.9082 25 50.9082C11.1328 50.9082 0 39.7754 0 25.9082C0 12.1387 11.1328 0.908203 25 0.908203ZM4.6875 25.9082C4.6875 37.1387 13.7695 46.2207 25 46.2207C36.1328 46.2207 45.3125 37.1387 45.3125 25.9082C45.3125 14.7754 36.1328 5.5957 25 5.5957C13.7695 5.5957 4.6875 14.7754 4.6875 25.9082Z"
                                    fill="#27B5BE" />
                            </svg>

                            <h1 class="fs-4 fw-semibold text-center">Gestiona tus tiempos</h1>
                            <p class="text-center fs-6">Elige días y horarios que se adapten a tu rutina, con mayor
                                autonomía en la organización de tu tiempo. Informa anticipadamente a los alumnos tu
                                disponibilidad horaria en tu anuncio.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 py-5">
                    <div>
                        <div class="d-flex m-auto"
                            style="height: 140px;display: flex; flex-direction: column; align-items: center; padding: 24px; gap: 16px; width: 350px; height: 289.14px; border: 1px solid #019FA2; border-radius: 16px;">
                            <svg width="70" height="60" viewBox="0 0 50 49" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M47.4392 16.9071L33.7855 14.9192L27.6839 2.56956C27.1354 1.46603 26.0654 0.908203 24.9955 0.908203C23.932 0.908203 22.8696 1.45857 22.3192 2.56956L16.2157 14.9183L2.56102 16.9043C0.112354 17.2588 -0.868978 20.2709 0.906188 21.9966L10.7839 31.6047L8.44621 45.1754C8.11413 47.1138 9.66168 48.6688 11.3949 48.6688C11.8548 48.6688 12.3277 48.5597 12.782 48.319L24.9973 41.9124L37.2117 48.3209C37.6651 48.5588 38.1371 48.667 38.5951 48.667C40.3302 48.667 41.8805 47.1176 41.5484 45.1782L39.2136 31.6065L49.0931 22.0003C50.8692 20.2746 49.8879 17.2616 47.4392 16.9071ZM36.083 28.3995L34.3927 30.0431L34.792 32.364L36.6129 42.9469L27.0859 37.9479L24.9983 36.8528L25.0011 7.26447L29.7613 16.8996L30.8042 19.0106L33.1372 19.3502L43.7928 20.9014L36.083 28.3995Z"
                                    fill="#019FA2" />
                            </svg>

                            <h1 class="fs-4 fw-semibold text-center">Mejorar tu reputación</h1>
                            <p class="text-center fs-6">Con tus servicios en línea, construyes una sólida reputación a
                                través de reseñas y comentarios de los alumnos, lo que genera confianza y atrae a más
                                estudiantes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 py-5">
                    <div>
                        <div class="d-flex m-auto"
                            style="height: 140px;display: flex; flex-direction: column; align-items: center; padding: 24px; gap: 16px; width: 350px; height: 289.14px; border: 1px solid #019FA2; border-radius: 16px;">
                            <svg width="42" height="49" viewBox="0 0 42 49" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M21.0001 24.7886C27.5951 24.7886 32.9402 19.4435 32.9402 12.8484C32.9402 6.2533 27.5951 0.908203 21.0001 0.908203C14.405 0.908203 9.05988 6.2533 9.05988 12.8484C9.05988 19.4435 14.405 24.7886 21.0001 24.7886ZM29.9365 27.8296L25.4776 45.6839L22.4926 32.9975L25.4776 27.7736H16.5225L19.5075 32.9975L16.5225 45.6839L12.0636 27.8296C5.41252 28.1468 0.104736 33.5851 0.104736 40.3108V44.1914C0.104736 46.6634 2.11031 48.6689 4.58231 48.6689H37.4178C39.8898 48.6689 41.8954 46.6634 41.8954 44.1914V40.3108C41.8954 33.5851 36.5876 28.1468 29.9365 27.8296Z"
                                    fill="#019FA2" />
                            </svg>

                            <h1 class="fs-4 fw-semibold text-center">Crece profesionalmente</h1>
                            <p class="text-center fs-6">Trabajar con diferentes alumnos enriquece la experiencia docente
                                al adaptarse a las necesidades individuales, lo que desarrolla nuevas habilidades
                                pedagógicas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100">
        <div class="container pb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-lg-7 d-flex m-auto">
                    <div class="m-auto">
                        <div class="">
                            <h1 class="fs-2 fw-semibold">Elegí la suscripción que más se acomode a vos</h1>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row d-flex justify-content-center pt-4">
                <div class="col-12 col-md-4">
                    <div>
                        <div class="d-flex m-auto">
                            <ul class="custom-list">
                                <li>Podrás acceder a 1 meses GRATIS</li>
                                <li>Asesoramiento de nuestros expertos</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <div class="d-flex m-auto">
                            <ul class="custom-list">
                                <li>Podrás acceder a 2 meses GRATIS</li>
                                <li>Asesoramiento de nuestros expertos</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <div class="d-flex m-auto">
                            <ul class="custom-list">
                                <li>Podrás acceder a 3 meses GRATIS</li>
                                <li>Asesoramiento de nuestros expertos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center ">
                <div class="col-12 col-md-4">
                    <div>
                        <div class="d-flex m-0 options">
                            <h1 class="fs-1 fw-semibold text-center">3 Meses</h1>
                            <p class="text-center fs-1 fw-semibold">$1.899,00
                            </p>
                            <button class="btn rounded-pill w-100 text-center pt-2 pb-2 btn-payment" type="button"
                                aria-haspopup="true" aria-expanded="false">
                                Elige este plan
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <div class="d-flex m-0 options">
                            <h1 class="fs-1 fw-semibold text-center">6 Meses</h1>
                            <p class="text-center fs-1 fw-semibold">$2.899,00
                            </p>
                            <button class="btn rounded-pill w-100 text-center pt-2 pb-2 btn-payment" type="button"
                                aria-haspopup="true" aria-expanded="false">
                                Elige este plan
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <div class="d-flex m-0 options">
                            <h1 class="fs-1 fw-semibold text-center">12 Meses</h1>
                            <p class="text-center fs-1 fw-semibold">$3.899,00
                            </p>
                            <button class="btn rounded-pill w-100 text-center pt-2 pb-2 btn-payment" type="button"
                                aria-haspopup="true" aria-expanded="false">
                                Elige este plan
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>