<div class="container">
    <div class="row pt-5 pb-5 justify-content-center" style="height: 450px;">
      <div class="col-12 col-md-5 col-lg-3 d-flex">
        <div class="flex align-items-center p-4 w-100 perfil-box">
          <div class="text-center">
            <span class="fw-bold fs-5 pb-3">Tu foto de perfil</span>
            <img [src]="imgTeacher" class="img-fluid" style="border-radius: 10px;">
          </div>
          <div class="text-center mt-2">
            <button class="btn rounded-pill btn-payment" type="button" aria-haspopup="true" aria-expanded="false">
              Subir una foto
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 d-flex">
        <div class="info-box w-100" style=" padding: 32px; gap: 24px; background: #FFFFFF; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); border-radius: 16px;"></div>
      </div>
    </div>
  </div>


