<div class="container">
  <div class="row pt-5 pb-5 justify-content-center">
    <div class="col-12 col-md-8 col-lg-4 align-self-start mb-3">
      <div class="flex align-items-center text-center p-4 w-100 perfil-box">
        <span class="fw-bold fs-5 pb-3 mb-5">Tu foto de perfil</span>
        <div class="" *ngIf="previsualizacion">
          <img [src]="previsualizacion" class="w-100" style="height: 20%!important;" alt="">
        </div>
        <input class="input-file" style="display:none;" formControlName="photo" #fileInput (change)="capturarFile($event)" type="file">
        <button class="btn rounded-pill btn-payment m-2" (click)="fileInput.click()">Seleccionar archivo</button>
      </div>
      
    </div>
    <div class="col-sm-12 col-md-8 align-self-start">
      <div class="info-box w-100 p-5"
        style="gap: 24px; background: #FFFFFF; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); border-radius: 16px;">
        <div class="w-md-full">

          <div class="d-flex justify-content-start mb-4">
            <h5>Informacion Personal</h5>
          </div>
          <form [formGroup]="confirmForm" (ngSubmit)="Enviar()">

            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="first_name">
              </div>
              <div class="col-lg-6 col-sm-12">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control" formControlName="last_name">
              </div>
              <div class="col-lg-6 col-sm-12">
                <label class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" formControlName="birthdate">
              </div>
              <div class="col-lg-6 col-sm-12">
                <label class="form-label">Provincia / Ciudad</label>
                <select class="form-select" id="selectProvinces" name="selectProvinces">
                  <option *ngFor="let province of listProvinces">{{ province.city }}</option>
                </select>
              </div>
              <div class="col-lg-6 col-sm-12">
                <label class="form-label">Correo electrónico</label>
                <input type="email" formControlName="email" class="form-control">
              </div>
              <div class="col-lg-6 col-sm-12">
                <label class="form-label">Telefono móvil</label>
                <input placeholder="Ej: 0000000000" type="text" class="form-control">
              </div>
            </div>

            <div class="row justify-content-between align-items-center mt-5">
              <div class="col text-end">
                <button class="btn rounded-pill pt-2 pb-2 btn-anterior px-4" type="button"
                  routerLink="/payment/checkout">
                  Anterior
                </button>
              </div>
              <div class="col text-start">
                <button type="submit" class="btn rounded-pill pt-2 pb-2 btn-siguiente">
                  Siguiente
                </button>
              </div>
            </div>
          </form>

        </div>


      </div>

    </div>
  </div>
</div>