/* You can add global styles to this file, and also import other style files */
body{
    background-color: #FFFFFF;
}

.nav-link:hover{
    color:#019FA2 !important;
}

.ngx-pagination .current {
  padding: .1875rem .625rem;
  background: #019FA2;
  color: #fefefe;
  cursor: default;
  border-radius: 15px;
}
