<div class="modal fade w-md-full" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="d-flex justify-content-end mx-2 my-2">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close "></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center mb-3">
            <img src="../../../assets/images/homePage/loginRegister.png" alt="Imagen" class="img-square">
          </div>
          <div class="d-flex justify-content-center mb-3">
            <h5 class="modal-title">Registrarse</h5>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit()">
            <div class="mb-3">
              <div class="row">
                <div class="col-6">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" formControlName="first_name">
                </div>
                <div class="col-6">
                  <label for="apellido" class="form-label">Apellido</label>
                  <input type="text" class="form-control" id="apellido" formControlName="last_name">
                </div>
                <div class="col">
                  <label for="apellido" class="form-label">Docente o Alumno</label>
                  <select class="form-select" id="tipoUsuario" formControlName="role">
                    <option value="Profesor">Docente</option>
                    <option value="Estudiante">Alumno</option>
                  </select>
                </div>
              </div>
            </div>
  
            <div class="mb-3">
              <label for="correo-register" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="correo-register" formControlName="email">
              <div *ngIf="email?.errors && email?.touched">
                <div *ngIf="email?.hasError('required')" class="text-danger form-text">El correo electrónico es requerido</div>
                <div *ngIf="email?.hasError('email')" class="text-danger form-text">Correo electrónico inválido</div>
              </div>
            </div>
  
            <div class="mb-3">
              <label for="contrasena-register" class="form-label">Contraseña</label>
              <div class="input-group">
                <input type="{{ tipoContrasena }}" class="form-control" id="contrasena-register" placeholder="***********" formControlName="password">
                <button class="btn btn-outline-secondary input-group-text" type="button" id="togglePassword" (click)="togglePasswordVisibility()">
                  <fa-icon [icon]="mostrarContrasena ? faEyeSlash : faEye"></fa-icon>
                </button>
              </div>
              <div *ngIf="password?.errors && password?.touched">
                <div *ngIf="password?.hasError('required')" class="text-danger form-text">La contraseña es requerida</div>
                <div *ngIf="password?.hasError('minlength')" class="text-danger form-text">La contraseña debe tener al menos 6 caracteres</div>
              </div>
            </div>
  
            <div class="input-group">
              <input type="{{ tipoContrasena }}" class="form-control" id="contrasena-confirm" placeholder="***********" formControlName="password_confirmation">
              <button class="btn btn-outline-secondary input-group-text" type="button" id="togglePassword" (click)="togglePasswordVisibility()">
                <fa-icon [icon]="mostrarContrasena ? faEyeSlash : faEye"></fa-icon>
              </button>
            </div>
  
            <div class="d-flex justify-content-center m-auto mt-3"> 
              <button type="submit" class="btn btn-dark w-100">Registrarse</button>
            </div>
          </form>
        </div>
  
        <div class="d-flex flex-column align-items-center">
          <p class="font-small">Al continuar aceptas nuestra <ins>Politica de privacidad</ins> y <ins>Terminos de uso.</ins></p>
          <h5 class="fs-6 text-center">¿Ya tenés una cuenta?</h5>
          <button class="fw-bold nav-link pt-0 border-none btn" data-bs-toggle="modal" data-bs-target="#loginModal">Inicia sesión</button>
        </div>
      </div>
    </div>
  </div>

