.btn:hover{
    color: #8edddf;
}
.btn-contact{
    border-color: #019FA2;
    border-radius: 1000px;
    border-width: 1px!important;
    background-color: #019FA2;
    color: white;
}
.etiquetas{
    border-color: #019FA2!important;
    border-radius: 7px;
    border-width: 1px!important;
    color: #019FA2;
    font-size: 80%;
}

.transparent{
    color: #919191;
}

.card{
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    

}

.card-body{
    padding: 24px;
       
    
}

.no-bottom-border{
    border-bottom:none !important;
}

.card:hover{
    box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.1);
}