<footer class="footer text-dark container border-top" style="border-color: rgb(165, 163, 163)!important;">
    <div class="container ">
        <div class="row">
            <div class=" col-lg-3 col-md-3 col-sm-3 d-flex flex-column justify-content-center">
                <div class="centerFooter col-lg-3 col-md-3 d-flex flex-column pb-2 centerFooter">
                    <div class="centerFooter border rounded-circle position-relative" style="width: 60px; height: 60px;">
                        <img src="../../../assets/images/homePage/bannerHomePage.png" alt="" class="rounded-circle w-100 h-100 img-fluid m-auto">
                    </div>
                </div>
                <p class="fs-6 centerFooter">&copy; 2023 TuNexo.com <br> los derechos reservados.</p>
            </div>
            <div class="flex-column col-lg-2 col-md-2 col-sm-3 bg-warning">
              <h4 class="fs-6 fw-bold centerFooter">Sobre nombremarca</h4>
              <div class="d-flex flex-column ">
                <a href="" class="text-decoration-none text-dark centerFooter">¿Quienes somos?</a>
                <a href="" class="text-decoration-none text-dark centerFooter">Preguntas Frecuentes</a>
                <a href="" class="text-decoration-none text-dark centerFooter">Politica de Privacidad</a>
              </div>
            </div>
            <div class="flex-column col-lg-2 col-md-2 col-sm-3">
              <h4 class="fs-6 fw-bold centerFooter">Legal</h4>
              <div class="d-flex flex-column">
                <a href="" class="text-decoration-none text-dark centerFooter">Términos y condiciones</a>
              </div>
            </div>
            <div class="flex-column col-lg-2 col-md-2 col-sm-3">
              <h4 class="fs-6 fw-bold centerFooter">Contacto</h4>
              <div class="d-flex flex-column">
                <a href="" class="text-decoration-none text-dark centerFooter">Escribenos a tu@nexo.com</a>
              </div>
            </div>
            <div class="flex-column col-lg-2 col-md-2 col-sm-3">
              <h4 class="fs-6 fw-bold centerFooter">Síguenos en:</h4>
              <div class="centerFooter">
                <a href="" class="px-2 iconColorf"><fa-icon class="fa-2x fa-square" [icon]="faSquareFacebook"></fa-icon></a>
                <a href="" class="iconColorf "><fa-icon class="fa-2x fa-square" [icon]="faSquareInstagram"></fa-icon></a>
              </div>
            </div>
          </div>
    </div>
</footer>
  
